[Desktop Entry]
Name=iNotes
Exec=/home/generativist/AI/iNotes/iNotes-linux-x64/iNotes
Terminal=false
Type=Application
Icon=/home/generativist/AI/iNotes/pirate.png
